.row {
  margin-left: 20px;
  color: white;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  cursor: pointer;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  transition: transform 450ms;
  margin-right: 10px;
}
.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
}
.row__poster:hover {
  transform: scale(1.08);
  /* opacity: 1; */
}

.logo_name {
  position: relative;
  top: -9px;
  left: 11px;
  font-stretch: semi-expanded;
  transform: scale(1.4, 1);
  color: #ffeced;
}
.wrapper-video .react-player video {
  object-fit: cover;
}
.local-video {
  background: #cfb7b752;
  min-width: 166px;
  max-width: 166px !important;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-break: anywhere;
  min-height: 200px;
  /* line-height: 14; */
}
